:root {
    --family: 'Lobster', cursive;
}

body {
    background-image: url(../assets/bg.jpg);
}

.shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .4;
}

header {
    height: 15vh;
    background-image: url(../assets/stylus.png);
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
    display: flex;
    align-items: center;
}

.nav__arrow {
    box-shadow: none;
    margin-top: 6%;
    width: 25%;
    height: 80%;
    opacity: 0;
    transition: .3s all ease-out;
    cursor: pointer;
}

header h1 {
    font-family: var(--family);
    font-size: 48px;
    text-align: center;
    margin-left: 4%;
    color: black;
}

main {
    height: 75vh;
}

footer {
    height: 10vh;
}

.main-wrapper {
    background-image: url(../assets/list.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    transition: .1s ease-out;
}

.wrapper-work {
    width: 65%;
    height: 85%;
    margin: 0 auto;
    padding-top: 10%;
    font-size: 26px;
    text-align: center;
    transition: all .3s ease-in-out;
    font-family: var(--family);
    transition: opacity .5s ease-in-out;
}

button {
    font-family: var(--family);
    font-size: 24px;
    border: none;
    background-color: transparent;
    transition: all .4s ease;
    margin-top: 5%;
}

button:hover {
    color: gold;
    text-shadow: 2px 10px 10px black;
}

img {
    width: 100%;    
    opacity: .9;
    margin-bottom: 5%;
    box-shadow: 3px 15px 12px black;
    transform: scale(.8);
    transition: all .3s;
}

button:hover .image-with-res img {
    transform: scale(.9);    
}

button:hover img {
    transform: scale(.9);    
}

.main-screen {
    height: 100%;
    overflow: scroll;
    transition: .3s ease-out;
}

.main-screen::-webkit-scrollbar {
    visibility: hidden;
}

.main-screen::-webkit-scrollbar-corner {
    visibility: hidden;
}

.display-none {
    display: none;
}

.categories {
    height: 100%;
    overflow: scroll;
    transition: .3s ease-out;
    opacity: 0;
}

.categories::-webkit-scrollbar {
    visibility: hidden;
}

.categories::-webkit-scrollbar-corner {
    visibility: hidden;
}

.categories h2 {
    font-family: var(--family);
    font-size: 28px;
}

.answers {
    display: flex;
    font-size: 18px;
    gap: 100%;
    flex-wrap: wrap;
    text-align: left;
}

.counter {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.answers li {
    margin-bottom: 5%;
}

.answers li:hover {
    color: gold;
    text-shadow: 2px 10px 10px black;
    cursor: pointer;
    transition: all .2s ease-out;
}

.quest-img:hover {
 transform: scale(1.5);
 opacity: 1;
}

.image-with-res {
    position: relative;
}

.res {
    position: absolute;
    top: 65%;
    left: 20%;
}

.popup {
    position: fixed;
    z-index: 100;
    display: none;
}

/* .popup img {
    opacity: 1;
    box-shadow: none;
    position: relative;
    width: 100vw;
    padding-top: 21%;
} */

.bgshadow {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .6;
    position: absolute;
}

.todo {
    background-image: url(../assets/scrl.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: var(--family);
    font-size: 20px;
    transform: translate(0, 100%);
    transition: .5s all ease;
}

.todo img {
    opacity: 1;
    width: 60%;
    height: 25%;
    margin-top: 48%;
    margin-left: 20%;
}

.todo .cor-incor {
    margin-left: 40%;
    margin-top: -6%;
}

.todo .description {
    margin-left: 21%;
    padding-top: 2%;
    font-size: 16px;
}

.todo .go-next {
    margin-left: 21%;
    padding-top: 5%;
    cursor: pointer;
}

.todo .exit {
    margin-top: -5.6%;
    margin-left: 60%;
    cursor: pointer;
}

.todo .descr-results {
    margin-left: 21%;
    font-size: 16px;
    padding-top: 2%;
}

.go-next:hover {
    color: gold;
    text-shadow: 2px 10px 10px black;
    cursor: pointer;
    transition: all .2s ease-out;
}

.exit:hover {
    color: gold;
    text-shadow: 2px 10px 10px black;
    cursor: pointer;
    transition: all .2s ease-out;
}

