:root {
    --family: 'Lobster', cursive;
}

body {
    /* background-image: url(../assets/bg.jpg); */
    /* background: linear-gradient(rgb(94, 82, 159), rgb(169, 61, 137)) */
    background: linear-gradient(rgb(25, 38, 56), rgb(58, 55, 50));
}

.shadow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .4;
}

header {
    height: 15vh;
    /* background-image: url(../assets/stylus.png); */
    background-repeat: no-repeat;
    background-position-x: right;
    position: relative;
    display: flex;
    align-items: center;
}

.nav__arrow {
    box-shadow: none;
    margin-top: 6%;
    width: 25%;
    height: 80%;
    opacity: 0;
    transition: .3s all ease-out;
    cursor: pointer;
}

header h1 {
    font-family: var(--family);
    font-size: 48px;
    text-align: center;
    margin-left: 0%;
    /* color: black; */
    /* color: rgb(228, 228, 228); */
    color: rgb(222,209,203);
}

main {
    height: 75vh;
}

footer {
    height: 10vh;
}

.main-wrapper {
    /* background-image: url(../assets/list.png); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: rgb(228, 228, 228); */
    border-radius: 5%;
    width: 90%;
    height: 90%;
    margin: 0 auto;
    position: relative;
    transition: .1s ease-out;
}

.wrapper-work {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 10%;
    font-size: 26px;
    text-align: center;
    transition: all .3s ease-in-out;
    font-family: var(--family);
    transition: opacity .5s ease-in-out;
}

.main-categories {
    width: 90%;
    margin: 0 auto;
}

.first-li {
    margin-top: 25%;
}

.main-categories li {
    margin-bottom: 10%;
}

button {
    width: 90%;
    height: 80%;
    font-family: var(--family);
    font-size: 24px;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    transition: all .4s ease;
    margin-top: 5%;
    color: rgb(222,209,203);
}

.artist, .pictures, .settings {
    width: 90%;
    background-color: rgb(222,209,203);
    color: rgb(25, 38, 56);
}

button:hover {    
    text-shadow: 2px 10px 10px rgb(25, 38, 56);
    transform: scale(1.1);
}

img {
    width: 95%;
    height: 80%;
    border-radius: 20px;
    margin-bottom: 5%;
    box-shadow: 3px 15px 12px black;
    transform: scale(.8);
    transition: all .3s;
}

button:hover .image-with-res img {
    transform: scale(.9);    
}

button:hover img {
    transform: scale(.9);    
}

.main-screen {
    height: 100%;
    overflow: scroll;
    transition: .3s ease-out;
}

.main-screen::-webkit-scrollbar {
    visibility: hidden;
}

.main-screen::-webkit-scrollbar-corner {
    visibility: hidden;
}

.display-none {
    display: none;
}

.categories {
    height: 100%;
    overflow: scroll;
    transition: .3s ease-out;
    opacity: 0;
}

.categories::-webkit-scrollbar {
    visibility: hidden;
}

.categories::-webkit-scrollbar-corner {
    visibility: hidden;
}

.categories h2 {
    font-family: var(--family);
    font-size: 28px;
    color: rgb(222,209,203);
}

.question {
    font-size: 24px;
    color: rgb(222,209,203); 
}

.quest-img {
    width: 90%;
    height: 55%;
}

.quest-img:hover {
    transform: scale(1.1);
}

.answers {
    display: flex;
    font-size: 24px;
    gap: 100%;
    flex-wrap: wrap;
    text-align: center;
    color: rgb(25, 38, 56);    
}

.counter {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgb(222,209,203);
}

.answers li {
    width: 90%;
    height: 5vh;
    background-color: rgb(222,209,203);
    margin-bottom: 5%;
    margin-left: 4%;
    transition: all .2s ease-out;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;  
}

.answers li:hover {
    text-shadow: 2px 10px 10px rgb(25, 38, 56);
    transform: scale(1.1);    
    transition: all .2s ease-out;
}

.image-with-res {
    position: relative;
}

.res {
    position: absolute;
    top: 65%;
    left: 20%;
}

.popup {
    position: fixed;
    z-index: 100;
    display: none;
}

/* .popup img {
    opacity: 1;
    box-shadow: none;
    position: relative;
    width: 100vw;
    padding-top: 21%;
} */

.bgshadow {
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .6;
    position: absolute;
}

.todo {
    width: 100vw;
    height: 70vh;
    position: relative;
    font-family: var(--family);
    font-size: 20px;
    transform: translate(0, 145%);
    transition: .5s all ease;
    background-color: rgb(222,209,203);
}

.todo img {
    width: 95%;
    height: 70%;
    margin-left: 2%;
}

.todo .cor-incor {
    color: rgb(25, 38, 56);
    font-size: 32px;
    margin-left: 36%;
    margin-top: -6%;
}

.todo .description {
    margin-left: 12%;
    padding-top: 2%;
    font-size: 22px;
}

.todo .go-next {
    font-size: 22px;
    margin-left: 12%;
    margin-top: 7%;
    cursor: pointer;
}

.todo .exit {
    font-size: 22px;
    margin-top: -5.6%;
    margin-left: 68%;
    cursor: pointer;
}

.todo .descr-results {
    margin-left: 11%;
    font-size: 22px;
    padding-top: 2%;
}

.go-next:hover {
    color: gold;
    text-shadow: 2px 10px 10px black;
    cursor: pointer;
    transition: all .2s ease-out;
}

.exit:hover {
    color: gold;
    text-shadow: 2px 10px 10px black;
    cursor: pointer;
    transition: all .2s ease-out;
}