:root {
  --active-link: rgba(118, 180, 255);
  --light-black: #0f0f0f;
  --main-font: 'Poppins', sans-serif;
}

body {
  background-color: var(--light-black);
  font-family: var(--main-font);
}

.header-wrapper {
  background-color: #000;
  height: 5rem;
  display: flex;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 700;
  padding-top: 20px;
}

.header-container {
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  width: 100%;
  max-width: 1920px;
  padding: 0.5rem 3.5rem 0;
  position: relative;
  justify-content: space-between;
}

.page-logo {
  width: 70%;
  text-decoration: none;
  color: #ffffff;
}

.header-links {
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-weight: 400;
}

.header-link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s ease-out;
  opacity: 0.8;
}

.header-link.active {
  color: var(--active-link);
}

.header-link:hover {
  opacity: 1;
}

.search-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-container {
  padding: 12px;
  padding-top: 48px;
  width: 75%;
}

.search-title {
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.search-input-wrapper {
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 12px 20px;
  display: flex;
}

.search-page-svg {
  width: 24px;
  height: 40px;
  fill: #fff;
  margin-right: 8px;
}

.search-input {
  outline: none;
  padding-left: 8px;
  height: 40px;
  width: 100%;
  border: none;
  background-color: inherit;
  color: #fff;
  font-size: 13px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.card-container {
  width: 15%;
  transition: 0.2s ease-out;
}

.card-container:hover {
  transform: scale(1.1);
}

.poster-container {
  overflow: hidden;
}

.card-item__poster {
  width: 100%;
  transition: 0.4s ease-out;
}

.card-item__poster:hover {
  transform: scale(1.2);
}

.card-item__title {
  display: inline-block;
  color: #fff;
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}

.card-item__release-date {
  font-size: 0.8rem;
  width: 100%;
  display: inline-block;
  color: #fff;
}

.card-item__original-language {
  font-size: 0.8rem;
  width: 100%;
  display: inline-block;
  color: #fff;
}

.card-item__rating {
  font-size: 0.8rem;
  width: 100%;
  display: inline-block;
  color: #fff;
}
