html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #030303;    
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px; 
}

.header {
    margin: 0 auto;
    width: 1440px;
    height: 150px;

    background-color: #030303;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 35px;

    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;    
}

.logo a {
    font-family: 'Forum', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;

    margin-left: 75px;
}

.nav__menu {
    width: 775px;
    height: 25px;
}

.nav__menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    text-decoration: none;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 200;
    letter-spacing: 2px;
}

.nav__link:hover {
    color: #9D8665;
    transition: linear 0.1s;
}

.nav__link:active {
    color: #7E6C51;
}

section {
    margin: 0 auto;
}

.wrapper-welcome {
    margin: 0 auto;
    width: 1440px;
    height: 810px;

    display: flex;
    position: relative;
}

.welcome {
    width: 100%;
    height: 810px;
    background-color: #030303;
    
}

.title-welcome {
    width: 600px;
    height: 390px;

    margin-top: 150px;
    margin-bottom: 270px;
    position: absolute;
    transition: all 0.3s;
}

.title-welcome h1 {
    font-family: 'Forum', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    line-height: 90px;
    transition: all 0.3s;
}

.title-welcome h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 2px;

    padding-top: 25px;
    margin-bottom: 75px;
    transition: all 0.6s;
}

.flex {
    display: flex;
}

.welcome-slider {
    width: 1000px;
    height: 750px;

    position: relative;
    margin-left: 440px;

    background-image: url(../images/welcomeslider/1.jpg);

    box-shadow: inset 130px 0px 160px 0px #000
}

.slider-pannel {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 600px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    /* margin-top: 690px;
    margin-left: 400px; */
    background-color: #030303;
}

.count {
    width: 76px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 74px;

    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400;    
    color: #fff;
    text-transform: uppercase;
}

.squares {
    width: 180px;
    height: 16px;
    display: flex;
    justify-content: space-between;    
}

.square {
    width: 16px;
    height: 16px;
    background-color: #fff;
    transition: linear 0.1s;
}

.square:hover {
    background-color: #9D8665;
}

.arrows-slider {
    width: 80px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 75px; 
}

.arrows-slider button {
    outline: none;
    border: none;
    background-color: #030303;
}

.ar-left {
    width: 30px;
    height: 8px;
    background-image: url(../images/welcomeslider/ar-left.svg);
    background-repeat: no-repeat;
    transition: linear 0.1s;
}

.ar-right {
    width: 30px;
    height: 8px;
    background-image: url(../images/welcomeslider/ar-right.svg);
    background-repeat: no-repeat;
    transition: linear 0.1s;
}

.ar-left:hover {
    background-image: url(../images/welcomeslider/ar_hover.svg);
}

.ar-right:hover {
    transform: rotate(180deg);
    background-image: url(../images/welcomeslider/ar_hover.svg);
}


.button-pan {
    width: 360px;
    height: 75px;

    border-radius: 10px;

    background-color: #710707;
}

.button-text {
    width: 360px;
    height: 75px;

    border-radius: 10px;

    background-color: #710707;

    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    letter-spacing: 2px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.8s;
}

.button-text:hover {
    background-color: #9D8665;
}

.visiting {
    width: 100%;
    height: 1265px;
}

.wrapper-visiting {
    width: 1440px;
    height: 1265px;
    margin: 0 auto;
}

.container h2 {
    font-family: 'Forum', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9D8665;
    letter-spacing: 5px;

    padding-top: 75px;
    margin-bottom: 25px;
}

.underline {
    width: 100%;
    height: 3px;

    background-color: #710707;
}

.cards {
    width: 100%;
    /* height: 1115px; */

    display: flex;    
    flex-wrap: wrap;
    gap: 75px 60px;
    /* display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33%;
    gap: 60px; */

    padding-top: 75px;
}

.each-card {    
    width: 100%;
    height: 100%;
    max-width: 440px;
    max-height: 425px;
}

.each-card h3 {
    font-family: 'Forum', sans-serif;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 5px;

    transition: linear 0.2s;

}

.each-card:hover h3{
    color: #9D8665;
}

.underline-cards {
    width: 300px;
    height: 2px;

    margin-top: 10px;
    margin-bottom: 10px;

    background-color: #710707;

    transition: linear 0.2s;
}

.each-card:hover .underline-cards{
    width: 440px;
}

.each-card h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 200;    
    color: #000;
    
    margin-bottom: 10px;
}

.each-card p {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 200;    
    color: #000;   
}

.each-card img {
    margin-bottom: 25px;
    transition: linear 0.2s;    
}

.each-card:hover img {
    border: 1px solid #710707;
}

.each-card a {
    text-decoration: none;
}

.explore {
    width: 100%;
    height: 865px;
    margin: 0 auto;
    background-color: #030303;
    /* position: relative; */
    margin-top: 70px;
}

.wrapper-explore {
    width: 1440px;
    height: 715px;

    margin: 0 auto;

    /* position: absolute; */
    display: flex;  
}

.explore-info h3 {
    font-family: 'Forum', sans-serif;
    font-size: 80px;
    font-weight: 400; 
    text-transform: uppercase;   
    color: #fff;
    letter-spacing: 5px;
    
    margin-top: 75px;
    margin-bottom: 25px;
}

.underline-explore {
    width: 660px;
    height: 3px;

    margin-bottom: 75px;

    background-color: #710707;
}

.explore-info p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;
    color: #fff;
    
    margin-bottom: 25px;
}

.explore__img {
    margin-top: 90px;
    margin-left: 60px;
}

.wrapper-explore span {
    color: #CAAA7D;
}

.video {
    width: 100%;
    height: 1400px;

    background-color: #fff;
}

.wrapper-video {
    width: 1440px;
    height: 1250px;

    margin: 75px auto;
}

.video-title{
    display: flex;
    gap: 115px;
    margin-bottom: 75px;
}

.video-title h3 {
    font-family: 'Forum', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9D8665;
    letter-spacing: 5px;
    padding-top: 75px;
}

.video-title p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;
    color: #030303;
    padding-top: 75px;
}

.main-poster{
    position: relative;
    height: 650px;   
}

.button-play {
    width: 240px;
    height: 240px;
    opacity: 0;
    border: none;
    outline: none;
    background-color: black;
}

.main-play {
    position: absolute;
    width: 220px;
    height: 220px;
    top: 35%;
    left: 45%;
    outline: none;
    border: 10px solid #fff;
    border-radius: 50%;
    background-image: url(../images/video/play-main.svg);
    background-repeat: no-repeat;
    background-position: 60%;
}

.progress {
    width: 1440px;
    height: 85px;

    background-color: #030303;   

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 40px;
}

.icon-play {
    border: none; outline: none;
    width: 25px;
    height: 30px;
    background-image: url(../images/video/play.svg);
    background-repeat: no-repeat;
    margin-left: 30px;  
    background-color: #030303;  
}

.icon-volume {
    border: none; outline: none;
    width: 40px;
    height: 30px;
    
    background-color: #030303;
    background-image: url(../images/video/volume.svg), url(../images/video/volume1.svg), url(../images/video/volume2.svg);
    background-position: left, 24px, 27px;
    background-repeat: no-repeat;
}

.icon-fullscreen {
    border: none; outline: none;
    width: 35px;
    height: 35px;

    background-color: #030303;
    background-image: url(../images/video/fullscreen.svg);
    background-repeat: no-repeat;
    margin-right: 30px;
}

.progress-bar {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);    
    border-radius: 8px;
    width: 930px;
    height: 8px;    
    outline: none;
    transition: 450ms ease-in;
    -webkit-appearance: none;
}
  
.progress-bar::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #fff;
}

.progress-bar-vol {
    background: linear-gradient(to right, #710707 0%, #710707 40%, #fff 40%, #fff 100%);
    border-radius: 8px;
    width: 155px;
    height: 8px;    
    outline: none;
    /* transition: 450ms ease-in; */
    -webkit-appearance: none;
}
  
.progress-bar-vol::-webkit-slider-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-appearance: none;
    /* transition: 450ms ease-in; */
    cursor: ew-resize;
    background: #fff;
}

.video-changer {
    width: 1440px;
    height: 255px;

    display: flex;
    gap: 40px;

    margin-bottom: 40px;

}

.control-pannel {
    width: 200px;
    height: 12px;    

    margin: 0 auto 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.control-pannel button{
    border: none;
    outline: none;
    background-color: #fff;
}

.control-pannel .arrow-left {
    width: 10px;
    height: 12px;
    background-image: url(../images/video/left_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.1s;
}

.dots {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999;
}

.control-pannel .arrow-right {
    width: 10px;
    height: 12px;
    background-image: url(../images/video/right_arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.1s;
}

.arrow-left:hover {
    transform: rotate(180deg);
    background-image: url(../images/video/arrow_hover.svg);
}

.arrow-right:hover {
    transform: rotate(360deg);
    background-image: url(../images/video/arrow_hover.svg);
}

.dots:hover {
    background-color: #710707;
}

.gallery {
    width: 100%;
    height: 2200px;
    /* position: relative; */
    background-color: #030303;
    margin: 0 auto;
}

.gallery h3{
    font-family: 'Forum', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;
    padding-top: 75px;
}

.left-column, .middle-column, .right-column {
    width: 570px;

}

.left-column, .middle-column, .right-column {
    margin-top: 50px;
    height: 1820px;
    overflow-y: auto;
    scroll-snap-type: auto;
}

.middle-column {
    margin-top: 0;
}
  
.gallery-scroll {
    position: relative;
    width: 100%;
    display: flex;
    gap: 35px;
    margin: 165px auto;    
}

.gallery-scroll img {
    margin-bottom: 24px;
      
}

.left-column::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:0px;
    height:0px
}
    
.left-column::-webkit-scrollbar-track, .middle-column::-webkit-scrollbar-track, .right-column::-webkit-scrollbar-track {
    background-color:#030303
}
    
.left-column::-webkit-scrollbar-thumb, .middle-column::-webkit-scrollbar-thumb, .right-column::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-color:#710707;
}
    
.left-column::-webkit-scrollbar-thumb:hover, .middle-column::-webkit-scrollbar-thumb:hover, .right-column::-webkit-scrollbar-thumb:hover{
    background-color:#710707;
} 
    
.left-column::-webkit-resizer, .middle-column::-webkit-resizer, .right-column::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:0px;
    height:0px
}
    
.left-column::-webkit-scrollbar, .middle-column::-webkit-scrollbar, .right-column::-webkit-scrollbar{
    width: 0px;
}

.shadow-box {
    position: absolute;
    width: 100%;
    height: 360px;
    left: 0px;
    top: 1520px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
}

.tickets {
    width: 100%;
    height: 895px;
    /* position: relative; */
    margin: 0 auto;
    background-color: #fff;    
}

.tickets h3 {
    font-family: 'Forum', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9D8665;
    letter-spacing: 5px;
    margin-bottom: 25px;
    padding-top: 75px;
}
.tickets img {
    margin-top: 75px;
}

.tickets-content {
    display: flex;    
}

.ticket-type h4{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #000000;

    margin-top: 75px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.changer {
    display: block;
    position: relative;
    margin-left: 100px;
    margin-bottom: 25px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #000000;
}

.changer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
.checkmark {
  position: absolute;
  top: 1px;
  left: -41px;
  height: 17px;
  width: 17px;
  background-color: #fff;
  border-radius: 50%;
  border: solid 3px #030303;
  box-sizing: border-box;
}

.changer:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .changer input:checked ~ .checkmark:after {
    display: block;
  }

  .changer .checkmark:after {
    width: 7px;
    height: 7px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    background-color: #030303;
}

.amount h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #000000;

    margin-top: 75px;
    text-align: end;
    margin-bottom: 25px;
}

.amount h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #000000;

 
    margin-left: 355px;
    margin-bottom: 15px;
}

.button-amount {
    margin-left: 355px;
    margin-bottom: 10px;
    width: 150px;
    height: 50px;
    border: 3px solid #030303;
    text-align: center;
    box-sizing: border-box;    
}

.button-amount button {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #000000;
    background-color: #fff;
    border: none;
    margin: 4px auto;
}

.input-counter {
    all: unset;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    width: 50px;
    margin-left: 15px;
}

.buy-now {
    position: absolute; 
    box-sizing: border-box;   
    width: 175px;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 335px;
    margin-top: 45px;

    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    padding-top: 13px;

    background-color: #030303;

    transition: linear 0.2s;
}

.buy-now:hover {
    background-color: #9D8665;
    color: #030303;
}

.parallax {
    display: flex;
    width: 100%;
    height: 400px;

    margin: 0 auto;

    background-image: url(../images/parallax/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.contacts {
    width: 100%;
    height: 890px;
    background-color: #fff;
    /* position: relative; */
}

.contacts h3 {
    font-family: 'Forum', sans-serif;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9D8665;
    letter-spacing: 5px;
    
    padding-top: 75px;
    margin-bottom: 25px;
}

.underline-c {
    width: 100%;
    height: 3px;
    margin-bottom: 75px;

    background-color: #710707;
}

.contacts-info {
    display: flex;
    gap: 200px;
}

.contacts-li h4{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 500;
    color: #000000;
    line-height: 33px;

}

.contacts-li ul {
    margin-top: 50px;    
}

.contacts-li ul li, li a{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #000000;

    margin-bottom: 25px;
}

.contacts-li ul li a:hover {
    color: #9D8665
}

footer {
    width: 100%;
    height: 400px;
    background-color: #030303;
}

.wrapper-nav {
    width: 1440px;
    height: 265px;

    margin: 0 auto;
    display: flex;
}

.logo-footer {
    display: flex;    
    align-items: center;
    width: 195px;
    height: 50px;
    margin-top: 75px;

    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position-y: center;
}

.logo-footer a {
    font-family: 'Forum', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 5px;

    margin-left: 75px;
}

.footer-nav {
    width: 365px;
    height: 130px;    
    margin-left: 165px;
    margin-bottom: 50px;
    margin-top: 87px;
    display: flex;
    gap: 150px;  
}

.footer-nav li {
    margin-bottom: 25px;
}

.footer-icons {
    width: 340px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 400px;
    margin-top: 162px;
}

.youtube {
    width: 48px;
    height: 48px;
    border: 2px solid #666;
    border-radius: 50%;
    background-image: url(../images/footer/youtube.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.1s;    
}

.instagram {
    width: 48px;
    height: 48px;
    border: 2px solid #666;
    border-radius: 50%;
    background-image: url(../images/footer/instagram.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.1s;    
}

.facebook {
    width: 48px;
    height: 48px;
    border: 2px solid #666;
    border-radius: 50%;
    background-image: url(../images/footer/facebook.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.1s;    
}

.twitter {
    width: 48px;
    height: 48px;
    border: 2px solid #666;
    border-radius: 50%;
    background-image: url(../images/footer/twitter.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.1s;    
}

.pinterest {
    width: 48px;
    height: 48px;
    border: 2px solid #666;
    border-radius: 50%;
    background-image: url(../images/footer/pinterest.svg);
    background-repeat: no-repeat;
    background-position: center;
    transition: linear 0.1s;    
}

.youtube:hover, .instagram:hover, .facebook:hover, .twitter:hover, .pinterest:hover{
    filter: invert(62%) sepia(4%) saturate(3149%) hue-rotate(356deg) brightness(87%) contrast(77%);
}

.underline-footer {
    width: 100%;
    height: 3px;
    background-color: #666;
    margin: 0 auto;
}

.footer-links {
    width: 100%;
    height: 125px;
    margin: 0 auto;    
    align-items: center;
    justify-content: space-between;
}

.footer-links h4, a{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
    transition: linear 0.2s;
}

.footer-links .container .flex {
    width: 100%;
    height: 125px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.footer-links a:hover {
    color: #9D8665;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease 0s;
}

.popup:target {
    opacity: 1;
    visibility: visible;
}

.popup:target .popup__wrapper {
    transform: translate( 0px, 0px);
    opacity: 1;
}

.popup__body {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.popup__wrapper {
    background-color: #fff;
    color: black;
    width: 1440px;
    height: 845px;
    position: absolute;
    transition: all 0.7s ease 0s;
    transform: translate(-100%, 0px);
    opacity: 0;    
}

.popup__close {
    position: absolute;
    top: 30px;
    right: 30px;
}

.close__overlay {    
    position: relative;
    width: 100vw;
    height: 100vh;
}

.popup__content {
    width: 970px;
    height: 663px;    
    display: flex;
    justify-content: space-between;
    margin: 91px auto;
}

.left__col {
    width: 400px;
    height: 663px;
}

.right__col {
    width: 530px;
    height: 663px;
    box-sizing: border-box;
    border: 1px solid #030303;
}

.popup__title {
    width: 400px;
    height: 143px;
    background-image: url(../images/popup/logo.svg);
    background-repeat: no-repeat;
    background-position: left top;
}

.popup__title h2 {
    font-family: 'Forum', sans-serif;
    font-size: 50px;
    font-weight: 400;
    text-transform: uppercase;
    color: #9D8665;
    padding-top: 40px;
    margin-bottom: 15px;       
}

.popup__title p {
    font-family: 'Roboto', sans-serif;;    
    font-weight: 400;
    font-size: 18px;    
    color: #710707;
    margin-bottom: 10px;
}

.under {
    width: 400px;
    height: 3px;
    background-color: #710707;
    
}

.form__selector {
    width: 400px;
    height: 460px;
    margin-top: 55px;      
}

.date__time {
    display: flex;
    justify-content: space-between;
    gap: 20px;    
}


.form__date {
    width: 150px;
    height: 43px;    
    background-image: url(../images/popup/date.svg), url(../images/popup/arrow.svg);
    background-repeat: no-repeat;
    background-position: 15px, 158px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #030303;
    
    padding-left: 40px;
}
.form__date::-webkit-calendar-picker-indicator{
    opacity: 0;
}

.form__time {
    width: 150px;
    height: 43px;
    background-image: url(../images/popup/time.svg), url(../images/popup/arrow.svg);
    background-repeat: no-repeat;
    background-position: 15px, 158px;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid #030303;

    padding-left: 40px;
}

.form__time::-webkit-calendar-picker-indicator{
    opacity: 0;
}

.form__text {
    width: 351px;
    height: 41px;
    margin-top: 20px;
    background-image: url(../images/popup/name.svg);
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 45px;
    border: 1px solid #030303;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.form__email {
    width: 351px;
    height: 41px;
    margin-top: 20px;
    background-image: url(../images/popup/email.svg);
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 45px;
    border: 1px solid #030303;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.form__tel {
    width: 351px;
    height: 41px;
    margin-top: 20px;
    background-image: url(../images/popup/tel.svg);
    background-repeat: no-repeat;
    background-position: 15px;
    padding-left: 45px;
    border: 1px solid #030303;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.ticket__type {
    width: 400px;
    height: 45px;
    margin-top: 20px;
    background-image: url(../images/popup/ticket.svg), url(../images/popup/arrow.svg);
    background-repeat: no-repeat;
    background-position: 15px, 368px;
    padding-left: 45px;
    border: 1px solid #030303;
    appearance: none;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.ticket__entry {
    width: 398px;
    height: 138px;
    border: 1px solid #030303;
    margin-top: 20px;
}

.wrapper {
    width: 370px;
    height: 110px;
    margin: 10px 15px 15px 15px;
}

.wrapper h3 {
    font-family: 'Forum', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #9D8665;
    margin-bottom: 5px;
}

.under__entry {
    width: 370px;
    height: 2px;
    background-color: #740c11;
    margin-bottom: 15px;
}

.basic {
    display: flex;    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;  
}

.basic h4 {
    margin-right: 133px;
}

.basic input {
    width: 35px;
    height: 25px;
    border: 1px solid #030303;
    box-sizing: border-box;           
}

.basic button {
    width: 35px;
    height: 25px;
    background-color: #030303;
    border: none;
    outline: none;
    color: #fff;
}

.senior {
    display: flex;    
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;  
}

.senior h4 {
    margin-right: 126px;
}

.senior input {
    width: 35px;
    height: 25px;
    border: 1px solid #030303;
    box-sizing: border-box;           
}

.senior button {
    width: 35px;
    height: 25px;
    background-color: #030303;
    border: none;
    outline: none;
    color: #fff;
}

.overview {
    width: 470px;
    height: 151px;
    margin: 25px 30px 22px 30px;
    position: relative;
}

.overview h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #030303;
    margin-bottom: 2px;    
}

.overview h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #740c11;
    margin-bottom: 10px;    
}

.overview li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #030303;
    margin-bottom: 5px;
    padding-left: 30px;
}

.overview .date {
    background-image: url(../images/popup/date.svg);
    background-repeat: no-repeat;
}

.overview .time {
    background-image: url(../images/popup/time.svg);
    background-repeat: no-repeat;
}

.overview .kindof {
    background-image: url(../images/popup/ok.svg);
    background-repeat: no-repeat;
}

.overview img {
    position: absolute;
    right: 0;
    top: 0;
}

.prices {
    width: 470px;
    height: 117px;
    margin: 0 auto 10px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.prices .count {
    width: 32px;
    height: 20px;
    background-color: #030303;
    color: #a4a4a3;
    border-radius: 5px;
    box-sizing: border-box;
    padding-left: 11px;
    font-size: 18px;
    padding-top: 3px;
    margin-left: 0;
}

.prices h3 {
    font-size: 22px;
    margin-left: 10px;
    margin-right: 267px;
    margin-bottom: 5px;
}

.prices h4 {
    font-size: 22px;
}

.prices .sen {
    margin-right: 259px;
}

.prices .under {
    width: 470px;
    height: 2px;
    margin-bottom: 10px;
}

.prices h2 {
    font-size: 32px;
    margin-right: 327px;
    font-weight: 500;
}

.prices h5 {
    font-size: 32px;
    font-weight: 500;
}

.card__front {
    width: 360px;
    height: 211px;
    background-color: #bcbcbc;
    border-radius: 5px;
    margin-left: 30px;
    position: absolute;
    z-index: 1;
}

.card__form {
    margin: 15px 20px 15px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.card__form label {
    margin-bottom: 5px;
}

#card__number {
    width: 215px;
    height: 35px;
    box-sizing: border-box;
    border: 0.5px solid #a4a4a4;
    margin-bottom: 10px;
}

#card__month {
    width: 100px;
    height: 35px;
    margin-right: 15px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 10px;     
}

#card__year {
    width: 100px;
    height: 35px;
    box-sizing: border-box;
    padding-left: 10px;
    margin-bottom: 10px;  
}

#card__month::-webkit-inner-spin-button, #card__year::-webkit-inner-spin-button {
    width: 28px;
    height: 35px;
    border: 1px solid #a4a4a4;
}

#card__name {
    width: 320px;
    height: 35px;
}

.visa {
    top: 34px;
    right: 20px;
    position: absolute;
}

.mastercard {
    top: 65px;
    right: 20px;
    position: absolute;
}

.card__back {
    width: 360px;
    height: 211px;
    background-color: #939393;
    border-radius: 5px;    
    position: relative;
    margin-left: 140px;
    margin-top: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.blackline{
    width: 360px;
    height: 45px;    
    background-color:#161615;    
    position: absolute;
    margin-top: 20px;
}

.card__back label {
    position: absolute;
    margin-left: 274px;    
    margin-top: 85px;
    line-height: 14px;
}

#cvc {
    width: 75px;
    height: 35px;
    position: absolute;
    margin-left: 265px;    
    margin-top: 105px;
    box-sizing: border-box;
    padding-left: 23px;  
}

.card__back p {
    position: absolute;
    font-size: 10px;
    line-height: 12px;
    margin-left: 275px;
    margin-top: 146px;
}

.book {
    width: 220px;
    height: 45px;
    background-color: #710707;
    color: #fff;
    font-family: 'Robot', sans-serif;
    font-weight: 400;
    font-size: 22px;        
    border: none;
    border-radius: 2px;
    margin-top: 26px;
    margin-left: 280px;
    position: relative;
    display: inline-block;
}

/* burger menu */

.burger__button {
    width: 32px;
    height: 25px;
}

.open {
    display: block;
    position: relative;
}

.close {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
}

.open .top-span, .open .mid-span, .open .bot-span {
    display: block;
    background-color: #fff;
    margin-bottom: 6px;    
    width: 32px;
    height: 2px;
    transition: all 0.3s ease 0s;    
}

.close .mid-span {    
    opacity: 0;
    position: absolute;
    width: 25px;
    height: 2px;
    display: block;   
}

.close .top-span {
    display: block;
    position: absolute;
    /* top: 56px; */        
    background-color: #fff;    
    width: 33px;
    height: 2px;
    transition: all 0.3s ease 0s;
    transform: rotate(45deg);
}

.close .bot-span {
    display: block;
    position: absolute;    
    background-color: #fff;    
    width: 33px;
    height: 2px;
    transition: all 0.3s ease 0s;
    transform: rotate(-45deg);
}

.burger {
    z-index: 1000;
    position: absolute;
    width: 297px;
    height: 585px;
    top: 0;
    left: 0;
    background-color: #030303;
    transform: translate(-100%, 0px);
    transition: all 0.6s ease 0s;
    
}

.burger:target {
    top: 130px;
    transform: translate(0px, 0px);
}

.burger ul {    
    width: 122px;
    height: 263px;   
    margin: 35px 120px
}

.burger ul li {
    margin-bottom: 25px;
    background: url(../images/burger/burgerarrows.svg) no-repeat right;
}

.burger__button {
    display: none;
}

@media (max-width: 1920px) {
    .gallery-scroll img {
        width: 456px;
    }
}

@media (max-width: 1460px) {
    .header {
        width: 984px;
        height: 130px;
    }

    .nav__link {
        font-size: 20px;
    }

    .container {
        max-width: 984px;
        width: 100%;
        margin: 0 auto;
    }

    .welcome {
        height: 585px;
    }

    .title-welcome {                
        margin-top: 50px;
        margin-bottom: 0;
    }

    .title-welcome h1 {
        font-size: 50px;
        height: 180px;
        letter-spacing: 5px;               
    }

    .title-welcome h3 {
        font-size: 24px;        
    }

    .button-text {
        width: 300px;
        height: 60px;
        font-size: 20px;
    }

    .welcome-slider {
        width: 700px;
        height: 525px;
        background-image: url(../images/welcomeslider1024/mona.jpg);
        margin-left: 284px;
    }

    .slider-pannel {
        width: 700px;
        height: 120px;
        margin-top: 465px;
        margin-left: 0px;
    }

    .count {
        font-size: 20px;
    }

    .visiting {
        height: 1525px;
    }

    .container h2 {
        font-size: 50px;
    }
    
    .cards {
        justify-content: center;
        gap: 60px, 60px;        
    }

    .each-card {
        width: 330px;
        height: 345px;        
    }        

    .each-card img {
        width: 330px;
        height: 215px;
    }

    .each-card h3 {
        font-size: 28px;
        letter-spacing: 3px;
    }

    .each-card h4 {
        font-size: 20px;
    }

    .each-card p {
        font-size: 16px;
    }

    .underline-cards {
        width: 150px;
        height: 2px;
        transition: linear 0.3s;
    }

    .each-card:hover .underline-cards {
        width: 330px;
    }

    .explore {
        margin-top: 0px;
        height: 1149px;
    }

    .explore-info {       
        position: absolute;
        margin: 60px 20px;
    }
    
    .explore-info h3 {
        font-size: 50px;
        line-height: 75px;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .underline-explore {
        width: 100%;
        margin-bottom: 60px;
    }

    .explore-info p {
        font-size: 20px;
        line-height: 38px;
        margin-bottom: 0;        
    }
    .tohide {
        display: none;
    }

    .explore__img {
        margin: 389px 132px 60px 132px;
    }

    .video {
        height: 1001px;
    }

    .video-title {
        display: inline;
    }

    .video-title h3{
        font-size: 50px;
        line-height: 75px;  
        margin-bottom: 40px;      
    }

    .video-title p {
        display: none;
    }

    .main-poster {
        height: 444px;               
    }

    .main-poster img {
        width: 100%;
        height: 444px;
    }

    .main-play {
        width: 152px;
        height: 152px;
        background-image: url(../images/video1024/mainplay.svg);
        border: 6px solid #fff;
    }

    .button-play {
        width: 152px;
        height: 152px;        
    }

    .progress {
        width: 100%;
        height: 60px;
    }

    .progress-bar {
        width: 564px;
        height: 5px;
    }

    .progress-bar-vol {
        width: 143px;
        height: 5px;
    }

    .video-changer {
        width: 100%;
        height: 170px;
    }

    .gallery {
        height: 1460px;
    }

    /* .gallery-scroll {
        display: none;
    } */

    .gallery h3{
        font-size: 50px;
        line-height: 75px;
    }

    .gallery-scroll {
        position: relative;
        width: 100%;        
        display: flex;
        gap: 35px;
        margin: 60px auto; 
    }

    .gallery-scroll img {
        width: 304px;
    }

    .left-column, .middle-column, .right-column {
        height: 1190px;
    }

    .shadow-box {
        top: 883px;
    }
    
    .tickets {
        height: 720px;
    }

    .tickets h3 {
        font-size: 50px;
        line-height: 75px;
        margin-bottom: 20px;
    }

    .tickets-content img {
        width: 700px;
        height: 440px;
        margin-top: 60px;
    }

    .ticket-type {
        display: none;
    }

    .amount {
        width: 175px;
        height: 321px;
        margin-left: 80px;
        margin-top: 35px;
    }

    .amount h4 {
        text-align: left;
        margin-top: 25px;
    }

    .amount h5 {
        margin-left: 0;        
    }

    .button-amount {
        margin-left: 0;
        margin-bottom: 25px;
        width: 175px;
    }

    .buy-now {
        margin-left: 0;
        margin-top: 60px;
    }

    .parallax {
        width: 100%;
        background-position: center;        
    }

    .contacts {
        height: 724px;
    }

    .contacts h3 {
        font-size: 50px;
        line-height: 75px;
        padding-top: 60px;
    }

    .underline-c {
        margin-bottom: 60px;
    }
    
    .contacts-li h4 {
        font-size: 24px;

    }

    .contacts-li ul {
        margin-top: 35px;
    }

    .contacts-li ul li {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .contacts-info {
        gap: 15px
    }

    .contacts-info img {
        width: 694px;
        height: 454px;
    }

    footer {
        height: 368px;
    }

    .logo-footer {
        margin-top: 60px;
        height: 33px;
    }

    .footer-nav {
        margin-top: 65px;
        margin-left: 45px;
    }

    .footer-icons {
        margin-top: 142px;
        margin-left: 92px;
    }

    .popup__wrapper {
        width: 1030px;
        height: 768px;
    }

    .popup__content {
        margin: 75px auto;
    }

    .nav__menu {
        display: none;
    }

    .burger__button {
        display: block;
    }

    .title-welcome__hide {
        opacity: 0;
        visibility: hidden; 
        position: absolute;        
        transition: all 0.3s;
    }

    .title-welcome__hide h1 {         
        transition: all 0.3s;
    }

    .title-welcome__hide h3 {
        transition: all 0.5s;
    }

    .title-welcome__hide .button-text {
        transition: all 0.8s;
    }
}





@media (max-width: 1010px) {
    .header {
        width: 728px;
        height: 110px;        
    }
    
    .container {
        width: 728px;
    }

    .welcome {
        height: 861px;
    }

    .welcome .flex {
        display: block;
    }

    .welcome-slider {
        width: 728px;
        height: 546px;
        box-shadow: none;
        background-image: url(../images/welcomeslider768/mona.jpg);        
        background-repeat: no-repeat;
        top: 215px;
        margin-left: 0;             
    }

    .title-welcome {
        width: 328px;
        height: 165px;
        position: absolute;
        top: 0;
        margin-top: 110px;
        margin-left: 219px;        
    }

    .title-welcome h1 {
        display: flex;
        text-align: center;
        font-size: 39px;
        line-height: 60px;
        height: 120px;        
    }

    .title-welcome h3 {        
        font-size: 19px;
        line-height: 23px;
        letter-spacing: 2px;
        margin-bottom: 0;        
    }          

    .button-text {
        display: none;
    }

    .slider-pannel {
        width: 401px;
        height: 40px;
        margin-top: 0;
        top: 576px;
        right: 183px;
    }

    .slider-pannel .count {
        margin-left: 0;
    }

    .arrows-slider {
        margin-right: 0;
    }

    .square {
        width: 12px;
        height: 12px;
    }

    .visiting {
        height: 1266px;
    }

    .container h2 {
        font-size: 40px;
        line-height: 60px;
        padding-top: 40px;
    }

    .cards {
        padding-top: 40px;
    }

    .each-card {
        width: 280px;
        height: 301px;        
    }

    .each-card img {
        width: 280px;
        height: 180px;
    }

    .each-card:hover .underline-cards {
        width: 100%;
    }
    
    .each-card h3 {
        font-size: 22px;
        line-height: 23px;
        letter-spacing: 3px;
    }

    .each-card h4 {
        font-size: 18px;
        line-height: 21px;
    }

    .explore {
        height: 908px;
    }

    .explore-info {
        margin: 40px 0px;
    }

    .explore-info h3 {
        font-size: 40px;
        line-height: 60px;
    }

    .underline-explore {
        width: 728px
    }

    .explore-info p {
        display: none;
    }

    .explore img {
        width: 728px;
        height: 705px;
        margin: 0;
        margin-top: 163px;
    }
}